@import "reset.css"
@charset "utf-8";{}

/*scroll*/
body {
    overflow: hidden;
    font-family: 'Exo 2', sans-serif;
    background-image: url(13.jpeg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
::-webkit-scrollbar {
    display: none;
}
#container{
    width:100%;
    height:100vh; 
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
.list{
    width:100%; 
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
}

/*nav*/
.menu *{
    display: inline;
}
.menu {
    font-size: 14px;
    align-items: center;
    text-align: center;
    position: fixed;
    padding-top: 50px;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
} 
.menu ul {
    padding-left: 0px;
}
.menu li {
    margin: 12px;
}
.menu li a {
    color: white;
    text-decoration: none;
}
.menu a:hover {
    color:thistle;
}

/* page 1 */
.one {
    text-align: center;
    color:white;
}

/* page 2 */
.intext {
    width: 780px;
    text-align: center;
    color:white
}
.intext p {
    font-size:15px;
    line-height: 170%;
}

/* page 3 */
.three {
    align-items: center;
    text-align: center;
    color: white;
}
.favorites {
    display: grid;
    grid-template-columns: 225px 225px 225px;
    grid-template-rows: 225px 225px;
}
.hobby{
    display: inline-block;
    font-size: 13px;
}
.hobby_img {
    width: 200px;
    height: 190px;
    display: inline-block;
    margin:0px;
    border: solid white 0.25px;
}
.hobby_text {
    margin-top: 0;
    margin-bottom: 4px;
}

/* page 4 */
.four {
    align-items: center;
    text-align: center;
    color: white;
}
.toomuchinfo {
    display: grid;
    grid-template-columns: 225px 225px 225px;
    grid-template-rows: 225px 225px;
}
.tmi{
    display: inline-block;
    font-size: 13px;
}
.tmi_img {
    width: 200px;
    height: 190px;
    display: inline-block;
    margin:0px;
    border: solid white 0.25px;
}
.tmi_text {
    margin-top: 0;
    margin-bottom: 4px;
}

/* page 5 */
.five {
    text-align: center;
    align-items: center;
    color: white;
    display:inline;
}
.five h1 {
    margin-bottom: 10px;
}
.five h5 {
    margin-top: 10px;
    margin-bottom: 55px;
}
.five a:hover {
    color:thistle;
}
.ct {
    text-decoration: underline;
    font-size: 25px;
    font-style: italic;
    margin: 35px;
    color: white;
}

.footer {
    width:100%;
    left:0;
    color:white;
    bottom:0;
    font-size: 10px;
    position:fixed;
    align-items: center;
    margin-bottom: 10px;
}
